// ab-plugin\version.rc - afterburner_hr_plugin.dll 的版本资源壳。
#define HR_BIN_DESC "afterburner_hr_plugin - MSI Afterburner monitoring plugin (BLE heart rate)"
#define HR_FILETYPE 0x2L
#include "..\common\version.rc.in"
